@import url('./Navigation.css');
@import url('./Landing.css');
@import url('./SignIn.css');
@import url('./SearchForm.css');
@import url('./JobPostings.css');
@import url('./JobCard.css');
@import url('./AddressBook.css');
@import url('./ResumeBuilder.css');

:root {
  --primary-green: #28c47d;
  --secondary-green: #1b512d;
  --secondary-green-opacity: rgba(33, 81, 45, 0.3);
  --accent-green: #b8edd8;
  --primary-text-color: #f0f0f0;
  --secondary-text-color: #323232;
  --background: #f6feff;
}
#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  /* font-family: "Roboto", san-serf; */
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

/* BUTTONS */
.btn {
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  border: none;
  background-color: var(--secondary-green);
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.btn:hover {
  background-color: var(--primary-green);
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  min-height: 38px;
  border-radius: 2px;
  margin: 0 0 15px;
}
