.grid-container {
  width: 85%;
  min-width: 500px;
  margin: 10px auto;
  display: inline-grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30% 70%;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: 
  "jobs news"
  "jobs flashcards";
}

.job-postings-grid {
  background-color: var(--secondary-green-opacity);
  padding: 5px;
  min-width: 300px;
  grid-area: jobs;
}

.news-grid {
  background-color: var(--secondary-green-opacity);
  padding: 5px;
  min-width: 200px;
  grid-area: news;
}

.flashcards-grid {
  min-width: 200px;
  grid-area: flashcards;
}