.news-container {
  background-color: var(--secondary-green-opacity);
  padding: 10px;
}

.news-container h3, p {
  color: var(--secondary-text-color);
}

li {
	list-style-type: none;
	margin: 20px auto;
}