.carousel-container {
  height: 100%;
  border: 10px solid var(--secondary-green-opacity);
}

.carousel-container img {
  opacity: .35;
  width: 100%;
}

.carousel-container h3, p {
  color: var(--secondary-text-color);
}

.carousel-container h3 {
  font-size: 14px;
  font-weight: bold;
}

.carousel-container p {
  font-size: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: var(--secondary-text-color);
}