.resume-box {
  display: flex;
  flex-direction: row;
}

.resume-container {
  width: 40%;
  background-color: white;
  box-shadow: 0 0 0.5cm #7b7d7d;
  z-index: 1;
}

/* Tab titles */
.MuiTab-wrapper {
  font-size: large;
}

.tab-bar {
  background-color: var(--secondary-green);
  color: var(--primary-text-color);
}

.form-style {
  display: flex;
  flex-direction: column;
}

.work-form-title {
  display: flex;
  justify-content: space-between;
}

.job-desc {
  font-size: 20px;
  margin: 10px;
}

.small-field-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-field {
  width: 48%;
}

.small-field-add {
  width: 85%;
}

.form-box {
  margin: 10px 5px 10px 5px;
}

.form-box > h3 {
  margin-top: 10px;
}

.checkbox-container > ul {
  font-size: 20px;
}
.resume-navigation {
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-green-opacity);
  padding-bottom: 10px;
}

.resume-clear-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-green-opacity);
  padding-bottom: 10px;
}

.resume-clear {
  display: flex;
  justify-content: space-between;
}

.next-btn > .MuiButton-root {
  background-color: red;
}

.right {
  width: 60vw;
  min-height: 100vh;
  background-color: var(--background);
}

.right .page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm #7b7d7d;
  width: 21cm;
  height: 29.7cm;
}

.save-clear {
  position: absolute;
  margin: 0;
}
/* Resume Preview */
.resume-titles {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 15px;
  font-size: 1.2em;
  background-color: rgba(128, 128, 128, 0.338);
}

.resume-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
}

.content-header {
  width: 80%;
  height: 10%;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.header-h1 {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 3px;
}

.header-h1,
.content-header > p,
.resume-titles,
.work-one,
.work-one > li,
.edu-single,
.list-item {
  font-family: 'Lora', serif;
}

.content-header > p,
.work-one,
.work-one > li,
.edu-single,
.list-item {
  font-size: 15.5px;
}

.edu-single {
  padding-top: 10px;
}

.resume-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}

.divider {
  width: 55%;
}

.work-exp,
.education,
.additional {
  display: flex;
  flex-direction: column;
  height: 30%;
  padding-bottom: 2em;
}

.work-content,
.edu-content,
.additional-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edu-single,
.additional-single,
.work-one {
  padding-right: 20px;
}

.work-single {
  display: flex;
  flex-direction: row;
}

/* Resume Builder Media Queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .resume-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .resume-container {
    width: 100vw;

    box-shadow: 0 0 0.5cm #7b7d7d;
    background-color: white;
  }

  .save-clear {
    visibility: visible;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .right {
    height: 10vh;
  }
}

/* NavBar Media Queries */
@media (max-width: 992px) {
  .nav-link > img,
  .menu-button {
    display: none;
  }

  .responsive-drop {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    letter-spacing: 0.5px;
  }

  .navbar-nav {
    align-items: flex-end;
    text-align: right;
    margin-right: -1.5em;
  }

  .drop {
    color: var(--secondary-green);
  }
}

@media (min-width: 992px) {
  .responsive-drop {
    display: none;
  }
}

/* Landing page media queries */
@media (max-width: 992px) {
  .main-info {
    display: flex;
    flex-direction: column;
    margin-top: -4em;
  }

  .main-link {
    font-size: 180%;
    margin: 5px;
  }

  .search-button > img {
    height: 50%;
    margin: 15px;
  }

  .search-button {
    height: 35%;
  }
}

/* Search forms media queries */
@media (max-width: 992px) {
  .lg-search-form-container {
    margin-top: 60px;
  }
}
