.search-form-container {
  background-color: var(--accent-green);
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.search-form-icon {
  width: 100px;
  margin: 0 auto;
}

.search-form {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.search-input {
  padding: 10px;
  margin: 0 50px 20px;
}