@import url('./Navigation.css');
@import url('./Landing.css');
@import url('./SignIn.css');
@import url('./SearchForm.css');
@import url('./JobPostings.css');
@import url('./JobCard.css');
@import url('./NewsArticles.css');
@import url('./FlashCards.css');
@import url('./AddressBook.css');
@import url('./ResumeBuilder.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root {
  --primary-green: #28c47d;
  --secondary-green: #1b512d;
  --secondary-green-opacity: rgba(33, 81, 45, 0.3);
  --accent-green: #b8edd8;
  --primary-text-color: #f0f0f0;
  --secondary-text-color: #323232;
  --background: #f6feff;
}
#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  /* font-family: "Roboto", san-serf; */
  font-weight: 400;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--background);
}

/* BUTTONS */
.btn {
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: var(--secondary-green);
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.lg-btn {
  width: 300px;
}

.sm-btn {
  width: 100px;
  padding: 5px;
  margin: 10px;
}

.resume-btn {
  border-radius: 3px;
  margin-top: 18px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.back {
  background-color: #e91e62;
  color: var(--primary-text-color);
}

.next {
  background-color: var(--secondary-green);
  color: var(--primary-text-color);
}

.clear {
  background-color: var(--background);
  color: var(--secondary-text-color);
}

.lg-btn:hover {
  background-color: var(--primary-green);
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  min-height: 38px;
  border-radius: 2px;
  margin: 0 0 15px;
}

@media (max-width: 740px) {
  .lg-btn {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .sm-btn {
    width: 90%;
  }

  .clear {
    width: 50%;
  }

  .next,
  .back {
    width: 50%;
  }

  .next-back {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
}
