.landing-container {
  margin-top: 8.5em;
}

.main-info {
  background-image: url(../images/dental-office.jpeg);
  background-size: 125% 200%;
  background-position: center;
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.558), 0 -7px 10px rgba(0, 0, 0, 0.558);
}

.search-button {
  background-color: var(--secondary-green);
  border: none;
  border-radius: 30px;
  height: 50%;
  width: 75%;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.558);
}

.search-button:hover,
.search-button:focus {
  box-shadow: 0 1em 1em -0.4em rgba(0, 0, 0, 0.558);
  transform: translateY(-0.35em);
}

.main-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 60px;
}

.main-link:hover {
  color: var(--primary-text-color);
  text-decoration: none;
}

.search-button > img {
  height: 80%;
  margin: 15px;
}

@media (max-width: 992px) {
  .main-info {
    display: flex;
    flex-direction: column;
    margin-top: -4em;
  }

  .main-link {
    font-size: 40px;
    margin: 5px;
  }

  .search-button > img {
    height: 70%;
    margin: 15px;
  }

  .search-button {
    height: 35%;
  }
}

@media (max-width: 480px) {
  .main-link {
    font-size: 28px;
    margin: 5px;
  }

  .search-button > img {
    height: 55%;
  }
}
