.lg-search-form-container {
  background: var(--accent-green);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  margin: 100px auto;
}

.lg-search-form-container h3 {
  text-align: center;
  font-size: 1.6rem;
}

.lg-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lg-search-form-icon {
  width: 150px;
  margin-bottom: 15px;
}

.lg-search-input {
  padding: 10px;
  width: 350px;
  margin: 15px;
}


.sm-search-form-container {
  background: var(--primary-green);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.sm-search-form {
  display: flex;
  justify-content: space-between;
}

.sm-search-input {
  padding: 5px;
  width: 400px;
  margin: 10px;
}

@media (max-width: 740px) {
  
}

@media (max-width: 575px) {
  .sm-search-form {
    flex-direction: column;
    align-items: center;
  }
  
  .sm-search-input {
    width: 90%;
  }
}